<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span class="example-spacer"></span>

    <div class="background">
        <div class="busqueda">
            <h1>Buscar por</h1>
            <app-buscar-por-fecha></app-buscar-por-fecha>
            <!-- <mat-tab-group>

                <mat-tab label="Fecha">
                    <div style="padding-top: 20px;padding-left: 20px; height: 150px;">
                        
                    </div>  

                </mat-tab>


                <mat-tab label="Tipo Cabaña"> 
                    <div style="padding-top: 20px;padding-left: 20px; height: 150px;">
                        <app-buscar-por-fecha></app-buscar-por-fecha>
                    </div>  

                </mat-tab>

                <mat-tab label="Third">
                    <div style="padding-top: 20px;padding-left: 20px; height: 150px;">
                        <app-buscar-por-fecha></app-buscar-por-fecha>
                    </div>  

                </mat-tab>

            </mat-tab-group> -->
        </div>

    </div>
</body>
</html>