<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span (click)="closeDialog()" class="close">&times;</span>
            <h2>Reservar</h2>
        </div>
        <div class="modal-body">
            <ng-container>
                <br>
                <form [formGroup]="formulario" (ngSubmit)="AgregarReserva()">


                    <div class="orden">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput [matDatepickerFilter]="isDateAvailable" [matDatepicker]="picker1"
                                formControlName="fecha_inicio"> <!-- Usa formControlName -->
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Fecha de fin</mat-label>
                            <input matInput [matDatepickerFilter]="isDateAvailable" [matDatepicker]="picker2"
                                formControlName="fecha_fin"> <!-- Usa formControlName -->
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="orden">
                        <button mat-raised-button color="primary" type="submit">Agregar</button>
                    </div>
                <br>
                </form>
            </ng-container>
        </div>
    </div>
</div>
