<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <mat-toolbar class="header">



        <a style="color: white; padding-left: 10px;" (click)="inicio()">Administrador cabañas</a>

        <span class="example-spacer"></span>



        <button mat-icon-button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"  aria-label="Example icon-button with a menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </mat-toolbar>

</body>
</html>
