<form (ngSubmit)="onLogin()" #loginForm="ngForm">
    
    <div class="paraPadding"></div>
    <div class="cuadroLogin">
      <div id="Imagen">
        <br>
        <h1>Administrador de cabañas</h1>
        <br><br>
      </div>
      <nav id="inputs">
        <input class="fname" placeholder="E-mail" type="email" id="correo" name="correo" [(ngModel)]="correo" required>
        <br><br><br>
        <input  class="fname" placeholder="Contraseña" type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" required>
        <br><br><br>
        <button type="submit" style="font-family: 'Poppins', sans-serif;">Iniciar Sesión</button>
        <nav style="margin-top: 2px;"></nav>
        <p *ngIf="errorMessage">{{ errorMessage }}</p>
      </nav>
    </div>
  </form>
  

<!-- 

<h1>prueba de funcionamiento gpt</h1>


<div>
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" [(ngModel)]="correo" required />

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" required />

    <button type="submit">Iniciar Sesión</button>
  </form>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div> -->