.background {
    background-image: url('./../../../assets/inspiracional-azul-marino-ago.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente fila */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al inicio de la pantalla */
    padding: 20px;
    gap: 20px; /* Espacio entre tarjetas */
}

.tarjetas {
    width: 30%; /* Ajuste de tamaño de las tarjetas */
    min-width: 250px; /* Tamaño mínimo para tarjetas */
}
